
@{
    ViewBag.Title = "Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
<h1>Application Submitted <span class="glyphicon glyphicon-ok text-success"></span></h1>
<h2 class="text-primary">Your Travel funding request has been submitted</h2>
<p class="lead">The committee and a chair will reveiw your application and notify you of the decision. </p>
<p class="clearfix"><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg text-center"><span class="glyphicon glyphicon-home"></span>  Return Home &raquo;</a></p>
</div>
