body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
.date {
    max-width: 360px;
}

textarea {
    max-width: none;
    min-height: 100px;
}

/* Styles for the progress bars on application */
.tab-content {
    margin-top: 20px;
}

.page-header-group {
    display: table;
    width: 645px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    white-space: nowrap;
}

.page-header-group > div {
    display: inline-table;
}

.page-header-group > div:first-child > .page-header {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.page-header-group > div {
    width: 45%;
}

.page-header-group > div:nth-child(1) {
    position: relative;
    left: 0;
    z-index: 1;
    width: 35%
}

.page-header-group > div:nth-child(2) {
    position: relative;
    left: -16%;
    z-index: 0;
}

.page-header-group > div:nth-child(3) {
    position: relative;
    left: -32%;
    z-index: -1;
}
    
.page-header {
    display: table-cell;
    text-align:right;
    vertical-align: middle;
    padding-top: 8px;
    padding-right: 15px;
    width: 100%;
    height: 52px;
    color: white;
    background-color: #428bca;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.active-page-header .page-header {
    background-color: white;
    color: black;
}

.active-page-header .triangle-right > .inner {
    border-left: 47.5px solid white;
}

.triangle-right > .inner {
    position: absolute;
    top: 0px;
    left: -2px;
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-left: 47.5px solid #428bca;
    border-bottom: 26px solid transparent;
    z-index: -9;
}

.triangle-right > .outer {
    z-index: -10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-left: 47.5px solid #aaa;
    border-bottom: 26px solid transparent;
}

.triangle-right {
    position: relative;
    width: 47.5px;
    height: 50px;
}   

.navbar-inverse  {
    background-color: #00749b;
    border-color: #00749b;
}

.navbar-brand, .navbar-nav>li>a {
    color: white !important;   
}